body {
  /* Image provided by subtlepatters.com.  Edited to reduce indexed colors */
  background-image: url("../img/concrete_seamless-min.png");
  font-family: 'Lato', sans-serif;
}
main {
  margin: 0 2%;
}
h1, h2, h3, h4 {
  font-family: 'Merriweather', sans-serif;
}
h1 {
  font-size: 2.4em;
  color: #fff;
}
h2 {
  color: #ddd;
  margin-bottom: 40px;
}
h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
/* Completely non-standard but pretty */
hr {
  height: 30px;
  border-style: solid;
  border-color: #000;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -27px;
    border-style: solid;
    border-color: #000;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
p {
  font-size: 1.3em;
}

/* Header section */
.header {
  background-image: url("../img/fern_1280x680-min.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: relative; /* Needed to show box shadow */
}
.callout {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: 20%;
  width: 550px;
  border-radius: 20px;
  text-align: center;
}
.callout-content {
  margin: 40px;
}
.callout a {
  display: inline-block;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
  width: 120px;
  text-align: center;
  transition: background-color 0.5s;
}
.callout a:hover, .callout a:focus {
  text-decoration: none;
}
.callout a:hover {
  background-color: #417d7b;
}
@media (max-width: 768px) {
  .callout {
    width: 100%;
    max-height: 500px;
    top: 0;
  }
  .callout a {
    padding: 10px;
  }
}

/* About section */
.about {
  margin-top: 40px;
  width: 95%;
}
.about img {
  border-radius: 50%;
  margin: 20px auto;
  max-width: 250px;
}

/* Portfolio section */
.portfolio {
  margin-top: 40px;
}
.portfolio img {
  margin: 0 auto;
  height: 300px;
  border-radius: 5%;
}
.portfolio-text-parent {
  display: table;
  height: 300px;
}
.portfolio-text {
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .portfolio-text-parent {
    height:auto;
  }
}
.portfolio .row {
  margin-top: 20px;
}
